@import "../vars.scss";

.card {
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 4px 8px $shadow;
  background-color: $second-background;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
